<mat-card class="card card-container">
    <h3>Modifier Offre</h3>
    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit(f)"
      #f="ngForm"
      novalidate
    >
        <p>
            <mat-form-field style="width: 500px" class="form-group">
            <mat-label for="label">Titre</mat-label>
            <input
                matInput 
                type="text"
                class="form-control"
                name="label"
                [(ngModel)]="offer.label"
                required
                #label="ngModel"
            />
            <mat-error
                class="alert alert-danger"
                role="alert"
                *ngIf="f.submitted && label.invalid"
            >
                Un titre est requis
            </mat-error>
            </mat-form-field>
        </p>
  
        <p>
            <mat-form-field style="width: 500px" class="form-group">
                <mat-label for="address">Adresse</mat-label>
                <input
                matInput 
                type="text"
                class="form-control"
                name="address"
                [(ngModel)]="offer.address"
                required
                #address="ngModel"
                />
                <mat-error
                class="alert alert-danger"
                role="alert"
                *ngIf="f.submitted && address.invalid"
                >
                    Une adresse est requise
                </mat-error>
            </mat-form-field>
        </p>

        <p>
            <mat-form-field class="form-group">
                <mat-label for="city">Ville</mat-label>
                <input
                matInput 
                type="text"
                class="form-control"
                name="city"
                [(ngModel)]="offer.city"
                required
                #city="ngModel"
                />
                <mat-error
                class="alert alert-danger"
                role="alert"
                *ngIf="f.submitted && city.invalid"
                >
                    Une ville est requise
                </mat-error>
            </mat-form-field>
        </p>
  
      <p>
        <mat-form-field style="width: 300px" class="form-group">
          <mat-label for="mailAddress">Adresse mail de contact</mat-label>
          <input
            matInput 
            type="email"
            class="form-control"
            name="mailAddress"
            [(ngModel)]="offer.mailAddress"
            required
            #mailAddress="ngModel"
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          />
          <mat-icon matSuffix>mail</mat-icon>
          <mat-error
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && mailAddress.invalid"
          >
              Une adresse mail est requise
          </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="form-group" style="width: 800px;" appearance="outline">
          <mat-label for="description">Description</mat-label> <br>
          <textarea
            matInput
            cols="300"
            rows="8"
            class="form-control"
            name="description"
            [(ngModel)]="offer.description"
            #description="ngModel"
            maxlength="500"
            style="resize: 'none'"
          >
          </textarea>
          <mat-hint *ngIf="description.value">{{description.value.length}} / 500</mat-hint>
        </mat-form-field>
      </p>

      <div class="form-group">
        <button mat-raised-button class="btn btn-primary btn-block">
          Valider
        </button>
      </div>
    </form>
  </mat-card>