<h1 mat-dialog-title>Modification d'une offre</h1>
<mat-dialog-content>
    <p>
        Vous êtes en train de modifier une offre, <br>
        celle-ci va repasser à l'état <strong>Brouillon</strong> et devra de nouveau être validée par un administrateur de Polytech Lyon.
        <br><br>
        Vous confirmez la modification de cette offre ?
    </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="primary" [mat-dialog-close]="true">Oui</button>
  <button mat-button [mat-dialog-close]="false">Non</button>
</mat-dialog-actions>
