<mat-card class="card card-container">
    <h3>Entreprises participant au forum</h3> 
        <mat-accordion multi *ngIf="role == 'ROLE_STUDENT'">
            <mat-card style="min-height:25px;margin-bottom:10px;" *ngFor="let company of allCompanies; let j = index" class="card card-expansion-panel" [style.backgroundColor]="'lightgrey'">
                <div style="float:left;"> {{company.name}} </div>
             </mat-card>
        </mat-accordion>
        <mat-accordion multi *ngIf="role == 'ROLE_ADMIN'">
            <mat-card style="min-height:25px;margin-bottom:10px;" *ngFor="let company of allCompanies; let j = index" class="card card-expansion-panel" [style.backgroundColor]="'lightgrey'">
                <div style="float:left;"> {{company.name}} </div>
                <div *ngIf="company.state == 'ENREGISTRE' || company.state == 'VALIDE' "  style="float:right; padding-left: 2%;"><button   (click)="invalidateOffer(j)" mat-flat-button  style="height: 25px;background-color:red; line-height: 1rem; ">Invalider</button> </div>
                <div *ngIf="company.state == 'ENREGISTRE' || company.state == 'INVALIDE'  "   style="float:right; padding-left: 2%;"><button (click)="validateOffer(j)" mat-flat-button  style="height: 25px;background-color:green; line-height: 1rem;">Valider</button> </div>
                <div style="padding-left:2%;float:right;"> {{company.state}} </div>
              
            </mat-card>
        </mat-accordion>
    </mat-card>