<mat-card class="card card-container">
    <h3 style="display: inline">Entreprises participant au forum</h3>  
    <button style="width:150px; height: 25px;background-color:lightpink; line-height: 1rem; margin-left: 20px; margin-right: 5px; margin-bottom:5px;" mat-flat-button *ngIf="user.role == 'ROLE_ADMIN'" routerLink="/add-employee">
        Ajout salarié
    </button>
    <button style="width:150px; height: 25px;background-color:lightpink; line-height: 1rem; margin-right: 5px; margin-bottom:5px;" mat-flat-button *ngIf="user.role == 'ROLE_ADMIN'" routerLink="/add-company">
        Ajout entreprise
    </button>
    <mat-accordion multi *ngIf="role == 'ROLE_STUDENT'">
        <div *ngFor="let company of allCompanies">
            <mat-card *ngIf="company.state == 'VALIDE'" routerLink = "/company/{{company.id}}" class="card card-expansion-panel">
                <div style="float:left;"> {{company.name}} </div>
                </mat-card>
        </div>
    </mat-accordion>
    <mat-accordion multi *ngIf="role == 'ROLE_ADMIN'">
        <mat-card *ngFor="let company of allCompanies" routerLink = "/company/{{company.id}}" class="card card-expansion-panel">
            <div style="float:left;"> {{company.name}} </div>
            <div *ngIf="company.state == 'ENREGISTRE' || company.state == 'VALIDE' "  style="float:right; padding-left: 2%;"><button   (click)="invalidateOffer(j)" mat-flat-button  style="height: 25px;background-color:red; line-height: 1rem; ">Invalider</button> </div>
            <div *ngIf="company.state == 'ENREGISTRE' || company.state == 'INVALIDE'  "   style="float:right; padding-left: 2%;"><button (click)="validateOffer(j)" mat-flat-button  style="height: 25px;background-color:green; line-height: 1rem;">Valider</button> </div>
            <div style="padding-left:2%;float:right;"> {{company.state}} </div> 
        </mat-card>
    </mat-accordion>
</mat-card>