<mat-toolbar color="primary">
   
    <button mat-icon-button routerLink="/">RecruteSup</button>
    <span class="example-spacer"></span>
    

    <button *ngIf="!isLoggedIn" routerLink="login" mat-raised-button class="btn btn-primary btn-block" aria-label="Example icon-button with menu icon">
      Connexion
    </button>
    <div *ngIf="isLoggedIn">
      <mat-label *ngIf="password.errors.required">{{ user.firstname }}</mat-label>
      <button mat-icon-button routerLink="profil">
        <mat-icon>account_circle</mat-icon>
      </button>
      <button   (click)="logout()" mat-raised-button class="btn btn-primary btn-block" aria-label="Example icon-button with menu icon">
        Déconnexion
      </button>
    </div>
</mat-toolbar>
