<mat-card *ngIf="student != null" class="card card-container">
  <h3 style="display: inline">Profil Utilisateur</h3>
  <button mat-raised-button color="primary" class="btn btn-primary btn-block" style="margin-left: 20px; margin-bottom: 20px;" [routerLink]="['/student/', student.id]">Aperçu du profil</button>
  <form
    name="form"
    *ngIf="student != null"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >

  <mat-accordion>
    <mat-expansion-panel (opened)="changePW = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Modifier les données Utilisateur
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p *ngIf="!changePW">
        <mat-label>Photo</mat-label> <br><br>
        <img *ngIf="profilPictureURL" [src]="profilPictureURL"><br>
        <input type="file" id="userFile" (change)="onSelectFile($event)">
      </p>
    
      <div class="state-class">
        Etat : {{ getLabelFromState() }}
      </div>
    
        <p *ngIf="!changePW">
          <mat-form-field class="form-group">
            <mat-label for="lastname">Nom</mat-label>
            <input
                matInput 
                disabled
                type="text"
                class="form-control"
                name="lastname"
                [(ngModel)]="student.lastname"
                required
                #lastname="ngModel"
            />
          </mat-form-field>
        </p>
    
        <p *ngIf="!changePW">
          <mat-form-field class="form-group">
              <mat-label for="firstname">Prénom</mat-label>
              <input
              matInput 
              disabled
              type="text"
              class="form-control"
              name="firstname"
              [(ngModel)]="student.firstname"
              required
              #firstname="ngModel"
              />
          </mat-form-field>
        </p>
    
        <p *ngIf="!changePW"> 
          <mat-form-field class="form-group">
            <mat-label for="email">Adresse mail</mat-label>
            <input
              matInput 
              disabled
              type="email"
              class="form-control"
              name="email"
              [(ngModel)]="student.mailAddress"
              required
              #email="ngModel"
              pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            />
            <mat-icon matSuffix>mail</mat-icon>
          </mat-form-field>
        </p>
    
        <p *ngIf="!changePW">
          <mat-form-field class="form-group">
            <mat-label for="schoolyear">Année scolaire</mat-label>
            <input
                matInput 
                disabled
                type="text"
                class="form-control"
                name="schoolyear"
                [(ngModel)]="student.schoolYear"
                required
                #schoolyear="ngModel"
                />
          </mat-form-field>
        </p>
        <p *ngIf="!changePW">
          <mat-form-field class="form-group">
            <mat-label for="phone">Numéro de téléphone</mat-label>
            <input
              matInput 
              type="text"
              class="form-control"
              name="phone"
              [(ngModel)]="student.phoneNumber"
              maxlength="10"
              #phone="ngModel"
            />
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>
        </p>
    
        <p *ngIf="!changePW">
          <mat-form-field class="form-group" style="width:800px;">
            <mat-label for="label">Label</mat-label>
            <input
              matInput 
              type="text"
              class="form-control"
              name="label"
              [(ngModel)]="student.label"
              #label="ngModel"
              maxlength="100"
            />
          <mat-hint *ngIf="label.value">
            {{label.value.length}} / 100
          </mat-hint>
          </mat-form-field>
        </p>
    
        <p *ngIf="!changePW">
          <mat-label for="description">Description</mat-label> <br>
          <textarea id="clipboard-example-textarea"
            cols="103"
            rows="5"
            class="form-control"
            name="description"
            [(ngModel)]="student.description"
            #description="ngModel"
            maxlength="500"
            style="resize: 'none'"
          >
          </textarea>
          <br><div *ngIf="description.value">{{description.value.length}} / 500</div><br>
        </p>
        
        <div class="form-group">
          <button mat-raised-button class="btn btn-primary btn-block">
            Modifier
          </button>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Ajouter des pièces jointes au profil
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="changePW = true">
      <mat-expansion-panel-header>
        <mat-panel-title style="color: red;">
          Modifier mot de passe
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p *ngIf="changePW">
        <mat-form-field class="form-group">
          <mat-label for="password">Nouveau mot de passe</mat-label>
          <input matInput
            [type]="hide ? 'password' : 'text'"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <mat-icon matSuffix (click)="hide = !hide" style="cursor: pointer">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && password.invalid"
          >
            <mat-label *ngIf="password.errors.required">Un mot de passe est requis</mat-label>
            <mat-label *ngIf="password.errors.minlength">Le mot de passe doit avoir au moins 6 caractères</mat-label>
          </mat-error>
        </mat-form-field>
      </p>
      <p *ngIf="changePW">
        <mat-form-field class="form-group">
          <mat-label for="password">Confirmation nouveau mot de passe</mat-label>
          <input matInput
            [type]="hide ? 'password' : 'text'"
            class="form-control"
            name="confirmpassword"
            [(ngModel)]="form.confirmpassword"
            required
            minlength="6"
            #confirmpassword="ngModel"
          />
          <mat-icon matSuffix (click)="hide = !hide" style="cursor: pointer">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && confirmpassword.invalid"
          >
            <mat-label *ngIf="confirmpassword.errors.required">Un mot de passe est requis</mat-label>
            <mat-label *ngIf="confirmpassword.errors.minlength">Le mot de passe doit avoir au moins 6 caractères</mat-label>
          </mat-error>
        </mat-form-field>
      </p>

      <div class="form-group">
        <button mat-raised-button class="btn btn-primary btn-block">
          Modifier mot de passe
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  </form>
</mat-card>
