<mat-card class="card card-container">
    <h3>Qui sommes-nous ?</h3>
        Nous sommes 4 étudiants en alternance informatique à l'école Polytech Lyon : <br><br>
        <table>
            <tr>
                <td><li>Rémi DA COSTA</li></td> <td>Email : remidc.contactpro@gmail.com</td> <td><a href="https://www.linkedin.com/in/r%C3%A9mi-da-costa/">Linkedin</a></td>
            </tr>
            <tr>
                <td><li>Muhammet "Samil" KARAHISAR</li></td> <td>Email :</td> <td><a href="https://www.linkedin.com/in/samilkarahisar/">Linkedin</a></td>
            </tr>
            <tr>
                <td><li>Mehdi EL MNADIL</li></td> <td>Email :</td> <td><a href="https://www.linkedin.com/in/mehdi-el-mnadil/">Linkedin</a></td>
            </tr>
            <tr>
                <td><li>Lucas AUPOIL</li></td> <td>Email :</td> <td><a href="https://www.linkedin.com/in/lucas-aupoil-33078b1a2/">Linkedin</a></td>
            </tr> 
        </table>
        <br>
        Ceci est notre réalisation dans le cadre d'un projet scolaire qui a duré plus de 6 mois <br>
        Nous avons analysé le besoin des responsables de formation de l'école et les avons retranscrit en fonctionnalités informatique <br>
        <br>
        Ce travail a été réalisé en xxxx d'heures en cours, dans des créneaux de projet de notre emploi du temps. Mais il a aussi
        nécessité xxxx d'heures de notre temps libre. <br>
        <br>
        Nous sommes très fiers du résultat, nous avons énormément appris des technologies <strong>Java/Spring et Angular/Material</strong> utilisées. <br>
        Voici le détail de cette réalisation :
        <ul>
            <li>Mise en place d'une base de données PostgreSQL</li>
            <li>Authentification avec spring-security en utilisant un token d'authentification JWT</li>
            <li>Envoi automatique de mails</li>
            <li>Notifications dynamiques sur l'interface</li>
            <li>Listes d'objets (étudiants, entreprises, offres) filtrables et triables</li>
        </ul>
</mat-card>
