<mat-card class="card card-container">
    <h3 style="display: inline">Etudiants</h3> 
    <button *ngIf="user.role == 'ROLE_ADMIN'" routerLink="/add-student" matTooltip="Ajouter un étudiant" style="background-color:lightpink; margin-left: 20px; margin-right: 5px; margin-bottom:5px;" mat-flat-button>
        <mat-icon>add</mat-icon><mat-icon>person</mat-icon>
    </button>
    <br><br><br>
    <div *ngIf="role == 'ROLE_COMPANY'">
        <div matSort (matSortChange)="sortData($event)" matSortDisableClear matSortActive="name" matSortDirection="asc" style="padding-left: 15px; padding-bottom: 10px">
            <div style="width: 15%; display: inline-block;" mat-sort-header="name"> Prénom NOM </div>
            <div style="width: 15%; display: inline-block;" mat-sort-header="year"> Année scolaire </div>
            <div style="width: 70%; display: inline-block; font-size: 15px;" mat-sort-header="label"> Label </div>
        </div>
        <mat-divider></mat-divider> <br>
        <div *ngFor="let student of allStudents">
            <mat-card *ngIf="student.state == 'VALIDE'" (click)="goToStudent(student.id)" class="card card-expansion-panel">
                <div style="width: 15%; display: inline-block;"> {{student.firstname}} {{student.lastname}} </div>
                <div style="width: 15%; display: inline-block;"> {{student.schoolYear}} </div>
                <div style="width: 60%; display: inline-block; font-size: 15px;"> {{student.label}} </div>
                <div style="width: 10%; display: inline-block;">
                    <div style="width: 100%; display: inline-block;" *ngIf="wishAlreadySent(student.id)">
                        Voeu adressé
                    </div>
                </div>
            </mat-card>
        </div>
        <div *ngIf="allStudents.length == 0" style="text-align: center;">Aucun étudiant</div>
    </div>
    <div *ngIf="role == 'ROLE_ADMIN'">
        <div matSort (matSortChange)="sortData($event)" matSortDisableClear matSortActive="name" matSortDirection="asc" style="padding-left: 15px; padding-bottom: 10px">
            <div style="width: 11%; display: inline-block;" mat-sort-header="status"> Statut </div>
            <div style="width: 13%; display: inline-block;" mat-sort-header="name"> Prénom NOM </div>
            <div style="width: 6%; display: inline-block;" mat-sort-header="year"> Année </div>
            <div style="width: 57%; display: inline-block; font-size: 15px;" mat-sort-header="label"> Label </div>
        </div>
        <mat-divider></mat-divider> <br>
        <mat-card *ngFor="let student of allStudents" (click)="goToStudent(student.id)" class="card card-expansion-panel">
            <div style="width: 11%; display: inline-block;"> {{ statusToLabel(student.state) }}  </div>
            <div style="width: 13%; display: inline-block;"> {{student.firstname}} {{student.lastname}} </div>
            <div style="width: 6%; display: inline-block;"> {{student.schoolYear}} </div>
            <div style="width: 57%; display: inline-block; font-size: 15px;"> {{student.label}} </div>
            <div style="width: 12%; display: inline-block;">
                <div style="width: 50%; display: inline-block;" *ngIf="student.state == 'ENREGISTRE' || student.state == 'INVALIDE'">
                    <button (click)="validerStudent(student)" mat-flat-button  style="color: white; height: 25px; background-color:green; line-height: 1rem;"><mat-icon matTooltip="Valider" style="color: white">check_circle_outline</mat-icon></button>
                </div>
                <div style="width: 50%; display: inline-block;" *ngIf="student.state == 'VALIDE'">
                    <button (click)="indisponibleStudent(student)" mat-flat-button  style="color: white; height: 25px; background-color:red; line-height: 1rem; "><mat-icon matTooltip="Rendre l'étudiant indisponible" style="color: white">cancel</mat-icon></button>
                </div>
                <div style="width: 50%; display: inline-block;" *ngIf="student.state == 'ENREGISTRE' || student.state == 'VALIDE'">
                    <button (click)="invaliderStudent(student)" mat-flat-button  style="color: white; height: 25px; background-color:red; line-height: 1rem; "><mat-icon matTooltip="Invalider" style="color: white">remove_circle_outline</mat-icon></button>
                </div>
            </div>
        </mat-card>
        <div *ngIf="allStudents.length == 0" style="text-align: center;">Aucun étudiant</div>
    </div>
</mat-card>