<mat-card *ngIf="offer != null" class="card card-container">
    <div class="wrapper">
        <div class="image">
            Image
        </div>
        <div class="resume">
            <span>
                <h2 style="display: inline">{{ offer.label }}</h2> <h3 *ngIf="role != 'ROLE_STUDENT'" style="display: inline"> - {{ offer.state }}</h3>
                <button mat-raised-button *ngIf="role == 'ROLE_ADMIN' && offer.state == 'EN_VALIDATION'" (click)= "validerOffer()" style="margin-left: 20px; background-color:green; color: white" class="btn btn-primary btn-block"><mat-icon matTooltip="Valider" style="color: white">check_circle_outline</mat-icon></button>
                <button mat-raised-button *ngIf="role == 'ROLE_ADMIN' && offer.state == 'EN_VALIDATION'" (click)= "invaliderOffer()" style="margin-left: 20px; background-color:red; color: white" class="btn btn-primary btn-block"><mat-icon matTooltip="Invalider" style="color: white">remove_circle_outline</mat-icon></button>
                <button mat-raised-button *ngIf="(role == 'ROLE_ADMIN' || role == 'ROLE_COMPANY') && offer.state == 'DISPONIBLE'" (click)= "indisponibleOffer()" style="margin-left: 20px; background-color:red; color: white" class="btn btn-primary btn-block"><mat-icon matTooltip="Rendre l'offre indisponible" style="color: white">cancel</mat-icon></button>
                <button mat-raised-button *ngIf="role == 'ROLE_COMPANY' && offer.state == 'BROUILLON'" (click)= "publierOffer()" style="margin-left: 20px; background-color:green; color: white" class="btn btn-primary btn-block"><mat-icon matTooltip="Publier" style="color: white">publish</mat-icon></button>
                <button mat-raised-button *ngIf="role == 'ROLE_COMPANY' && (offer.state == 'DISPONIBLE' || offer.state == 'BROUILLON')" (click)= "supprimerOffer()" style="margin-left: 20px; background-color:red; color: white" class="btn btn-primary btn-block"><mat-icon matTooltip="Supprimer" style="color: white">delete</mat-icon></button>

                <button mat-raised-button color="accent" *ngIf="role == 'ROLE_STUDENT' && user.state == 'VALIDE' && !wishAlreadySent()" (click)="sendStudenWish()" style="margin-left: 20px; margin-bottom: 5px; color: white;" class="btn btn-primary btn-block">Adresser un voeu</button>
                <button mat-raised-button disabled *ngIf="role == 'ROLE_STUDENT' && wishAlreadySent()" style="margin-left: 20px; margin-bottom: 5px;" class="btn btn-primary btn-block">Voeu adressé</button>
                <button mat-raised-button color="accent" *ngIf="canModify()" [routerLink]="['/offer/edit/', offer.id]" style="margin-left: 20px; margin-bottom: 5px;" class="btn btn-primary btn-block"><mat-icon matTooltip="Modifier" style="color: white">edit</mat-icon></button>
                <br><h4 style="display: inline">({{ offer.companyName }})</h4> <h4 style="display: inline"> {{ offer.city }}</h4> <h4 *ngIf="offer.address" style="display: inline"> - {{ offer.address }}</h4>
            </span>
            <p>{{ offer.description }}</p>
            Créée par {{ offer.userFirstname }} {{ offer.userLastname }} ({{ offer.creationDate | date: 'dd/MM/yyyy' }})<br><br>
            <mat-icon *ngIf="offer.mailAddress" style="vertical-align: middle; margin: 5px;">mail_outline</mat-icon> {{ offer.mailAddress }}
        </div>
        <div class="items">
            <div class="join">
                <h4>Pièces jointes</h4>
                <div *ngIf="offer.attachmentList.length == 0">Aucune pièce jointe</div>
                <span *ngFor="let attachment of offer.attachmentList">
                    <span class="attachment">
                        {{ attachment.label }}
                    </span>
                </span>
            </div>
            <br>
            <div *ngIf="role != 'ROLE_STUDENT'" class="receivedWishes">
                <h4>Voeux reçus</h4>
                <div *ngIf="offer.wishReceivedList.length == 0">Aucun voeu reçu</div>
                <mat-card *ngFor="let wish of offer.wishReceivedList" class="item">
                    <div style="width: 20%; display: inline-block;">{{ statusToLabel(wish.state) }}</div>
                    <div style="width: 20%; display: inline-block; text-align: right;">{{wish.sender}}</div>
                    <div style="width: 5%; display: inline-block; text-align: center;"><mat-icon style="vertical-align: middle;">trending_flat</mat-icon> </div>
                    <div style="width: 43%; display: inline-block;">{{wish.receiver}}</div>
                    <div *ngIf="role == 'ROLE_COMPANY'" style="width: 12%; display: inline-block;">
                        <div style="width: 50%; display: inline-block;" *ngIf="wish.state == 'TRANSMIS'">
                            <button mat-flat-button (click)="validerWish(wish.id, wish.type)" style="height: 25px;background-color:green; line-height: 1rem;"><mat-icon matTooltip="Valider" style="color: white">check_circle_outline</mat-icon></button>
                        </div>
                        <div style="width: 50%; display: inline-block;" *ngIf="wish.state == 'TRANSMIS'">
                            <button mat-flat-button (click)="refuserWish(wish.id, wish.type)" style="height: 25px;background-color:red; line-height: 1rem; "><mat-icon matTooltip="Refuser" style="color: white">remove_circle_outline</mat-icon></button>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</mat-card>
