<mat-card *ngIf="offer != null" class="card card-container">
    <div class="wrapper">
        <div class="image">
            Image
        </div>
        <div class="resume">
            <span>
                <h2 style="display: inline">{{ offer.label }}</h2> <h3 *ngIf="role != 'ROLE_STUDENT'" style="display: inline"> - {{ offer.state }}</h3>
                <button mat-raised-button color="primary" *ngIf="role == 'ROLE_STUDENT' && !wishAlreadySent()" (click)="sendStudenWish()" style="margin-left: 20px; margin-bottom: 5px;" class="btn btn-primary btn-block">Adresser un voeu</button>
                <button mat-raised-button disabled *ngIf="role == 'ROLE_STUDENT' && wishAlreadySent()" (click)="sendStudenWish()" style="margin-left: 20px; margin-bottom: 5px;" class="btn btn-primary btn-block">Voeu adressé</button>
                <button mat-raised-button color="primary" *ngIf="canModify()" [routerLink]="['/offer/edit/', offer.id]" style="margin-left: 20px; margin-bottom: 5px;" class="btn btn-primary btn-block">Modifier</button>
                <br><h4 style="display: inline">({{ offer.companyName }})</h4> <h4 style="display: inline"> {{ offer.city }}</h4> <h4 *ngIf="offer.address" style="display: inline"> - {{ offer.address }}</h4>
            </span>
            <p>{{ offer.description }}</p>
            Créée par {{ offer.userFirstname }} {{ offer.userLastname }} ({{ offer.creationDate | date: 'dd/MM/yyyy' }})<br><br>
            <mat-icon *ngIf="offer.mailAddress" style="vertical-align: middle; margin: 5px;">mail_outline</mat-icon> {{ offer.mailAddress }}
        </div>
        <div class="items">
            <div class="join">
                <h4>Pièces jointes</h4>
                <div *ngIf="offer.attachmentList.length == 0">Aucune pièce jointe</div>
                <span *ngFor="let attachment of offer.attachmentList">
                    <span class="attachment">
                        {{ attachment.label }}
                    </span>
                </span>
            </div>

            <div *ngIf="role != 'ROLE_STUDENT'" class="receivedWishes">
                <h4>Voeux reçus</h4>
                <div *ngIf="offer.wishReceivedList.length == 0">Aucun voeu reçu</div>
                <div *ngFor="let wish of offer.wishReceivedList">
                    <mat-card class="item">
                        <div style="float:left;">{{wish.sender}} <mat-icon style="vertical-align: middle;">trending_flat</mat-icon> {{wish.receiver}}</div>
                        <div style="float:right;"> {{wish.state}} </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</mat-card>
