<mat-card class="card card-container">
    <h3 style="display: inline">Tableau de bord</h3>
    <button color="accent" *ngIf="user.role == 'ROLE_ADMIN'" matTooltip="Envoyer un message à tous" style="margin-left: 20px; margin-right: 5px; margin-bottom:5px;" mat-flat-button (click)="sendMessage(null, null, 'à tous les étudiants et toutes les entreprises')">
        <mat-icon>mail</mat-icon>
    </button>
    <br><br>
    <mat-accordion multi>
        <mat-expansion-panel *ngIf="user.role == 'ROLE_ADMIN'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ getTotal(company_states) }} Entreprises
                </mat-panel-title>
                <mat-panel-description>
                    Etats des entreprises enregistrées
                </mat-panel-description>
                <button style="height: 25px; line-height: 1rem; margin-right: 26px" color="accent" matTooltip="Envoyer un message à toutes les entreprises" mat-flat-button (click)="sendMessage('COMPANY', null, 'à toutes les entreprises')">
                    <mat-icon>mail</mat-icon>
                </button>
            </mat-expansion-panel-header>
            <mat-card (click)="goTo('/companies', { status: 'VALIDE' })" class="card card-expansion-panel" [style.backgroundColor]="'lightgreen'" style="cursor: pointer">
                <div style="width: 93%; display: inline-block;">
                    {{ getNumberFromState(company_states, "VALIDE") }} Entreprises Validées
                </div>
                <div style="width: 7%; display: inline-block;">
                    <button style="height: 25px; line-height: 1rem; background-color: rgb(75, 177, 75);" mat-flat-button matTooltip="Envoyer un message aux entreprises validées" (click)="sendMessage('COMPANY', 'VALIDE', 'à toutes les entreprises validées')">
                        <mat-icon style="color: white">mail</mat-icon>
                    </button>
                </div>
            </mat-card>
            <mat-card (click)="goTo('/companies', { status: 'ENREGISTRE' })" class="card card-expansion-panel" [style.backgroundColor]="'orange'" style="cursor: pointer">
                <div style="width: 93%; display: inline-block;">
                    {{ getNumberFromState(company_states, "ENREGISTRE") }} Entreprises Enregistrées
                </div>
                <div style="width: 7%; display: inline-block;">
                    <button style="height: 25px; line-height: 1rem; background-color: rgb(177, 121, 75);" mat-flat-button matTooltip="Envoyer un message aux entreprises enregistrées" (click)="sendMessage('COMPANY', 'ENREGISTRE', 'à toutes les entreprises enregistrées')">
                        <mat-icon style="color: white">mail</mat-icon>
                    </button>
                </div>
            </mat-card>
            <mat-card (click)="goTo('/companies', { status: 'INVALIDE' })" class="card card-expansion-panel" [style.backgroundColor]="'salmon'" style="cursor: pointer">
                <div style="width: 93%; display: inline-block;">
                    {{ getNumberFromState(company_states, "INVALIDE") }} Entreprises Invalides
                </div>
                <div style="width: 7%; display: inline-block;">
                    <button style="height: 25px; line-height: 1rem; background-color: rgb(177, 75, 75);" mat-flat-button matTooltip="Envoyer un message aux entreprises invalides" (click)="sendMessage('COMPANY', 'INVALIDE', 'à toutes les entreprises invalides')">
                        <mat-icon style="color: white">mail</mat-icon>
                    </button>
                </div>
            </mat-card>
        </mat-expansion-panel>

        <mat-expansion-panel class="card-expansion-panel" *ngIf="user.role == 'ROLE_ADMIN'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ getTotal(student_states) }} Etudiants
                </mat-panel-title>
                <mat-panel-description>
                    Etats des étudiants enregistrés
                </mat-panel-description>
                <button style="height: 25px; line-height: 1rem; margin-right: 26px" color="accent" matTooltip="Envoyer un message à tous les étudiants" mat-flat-button (click)="sendMessage('STUDENT', null, 'à tous les étudiants')">
                    <mat-icon>mail</mat-icon>
                </button>
            </mat-expansion-panel-header>
            <mat-card (click)="goTo('/students', { status: 'VALIDE' })" class="card card-expansion-panel" [style.backgroundColor]="'lightgreen'" style="cursor: pointer">
                <div style="width: 93%; display: inline-block;">
                    {{ getNumberFromState(student_states, "VALIDE") }} Etudiants Validés
                </div>
                <div style="width: 7%; display: inline-block;">
                    <button style="height: 25px; line-height: 1rem; background-color: rgb(75, 177, 75);" mat-flat-button matTooltip="Envoyer un message aux étudiants validés" (click)="sendMessage('STUDENT', 'VALIDE', 'à tous les étudiants validés')">
                        <mat-icon style="color: white">mail</mat-icon>
                    </button>
                </div>
            </mat-card>
            <mat-card (click)="goTo('/students', { status: 'ENREGISTRE' })" class="card card-expansion-panel" [style.backgroundColor]="'orange'" style="cursor: pointer">
                <div style="width: 93%; display: inline-block;">
                    {{ getNumberFromState(student_states, "ENREGISTRE") }} Etudiants Enregistrés
                </div>
                <div style="width: 7%; display: inline-block;">
                    <button style="height: 25px; line-height: 1rem; background-color: rgb(177, 121, 75);" mat-flat-button matTooltip="Envoyer un message aux étudiants enregistrés" (click)="sendMessage('STUDENT', 'ENREGISTRE', 'à tous les étudiants enregistrés')">
                        <mat-icon style="color: white">mail</mat-icon>
                    </button>
                </div>
            </mat-card>
            <mat-card (click)="goTo('/students', { status: 'INDISPONIBLE' })" class="card card-expansion-panel" [style.backgroundColor]="'orange'" style="cursor: pointer">
                <div style="width: 93%; display: inline-block;">
                    {{ getNumberFromState(student_states, "INDISPONIBLE") }} Etudiants Indisponibles
                </div>
                <div style="width: 7%; display: inline-block;">
                    <button style="height: 25px; line-height: 1rem; background-color: rgb(177, 121, 75);" mat-flat-button matTooltip="Envoyer un message aux étudiants indisponbiles" (click)="sendMessage('STUDENT', 'INDISPONIBLE', 'à tous les étudiants indisponibles')">
                        <mat-icon style="color: white">mail</mat-icon>
                    </button>
                </div>
            </mat-card>
            <mat-card (click)="goTo('/students', { status: 'INVALIDE' })" class="card card-expansion-panel" [style.backgroundColor]="'salmon'" style="cursor: pointer">
                <div style="width: 93%; display: inline-block;">
                    {{ getNumberFromState(student_states, "INVALIDE") }} Etudiants Invalides
                </div>
                <div style="width: 7%; display: inline-block;">
                    <button style="height: 25px; line-height: 1rem; background-color: rgb(177, 75, 75);" mat-flat-button matTooltip="Envoyer un message aux étudiants invalides" (click)="sendMessage('STUDENT', 'INVALIDE', 'à tous les étudiants invalides')">
                        <mat-icon style="color: white">mail</mat-icon>
                    </button>
                </div>
            </mat-card>
        </mat-expansion-panel>

        <mat-expansion-panel class="card-expansion-panel" *ngIf="user.role == 'ROLE_ADMIN' || user.role == 'ROLE_COMPANY'">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ getTotal(offer_states) }} Offres
                </mat-panel-title>
                <mat-panel-description *ngIf="user.role == 'ROLE_ADMIN'">
                    Etats des offres créées par les entreprises
                </mat-panel-description>
                <mat-panel-description *ngIf="user.role == 'ROLE_COMPANY'">
                    Etats de vos offres
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-card routerLink="/offers" [queryParams]="{ status: 'DISPONIBLE' }" class="card card-expansion-panel" [style.backgroundColor]="'lightgreen'" style="cursor: pointer">
                {{ getNumberFromState(offer_states, "DISPONIBLE") }} Offres Disponibles
            </mat-card>
            <mat-card routerLink="/offers" [queryParams]="{ status: 'EN_VALIDATION' }" class="card card-expansion-panel" [style.backgroundColor]="'orange'" style="cursor: pointer">
                {{ getNumberFromState(offer_states, "EN_VALIDATION") }} Offres En validation
            </mat-card>
            <mat-card routerLink="/offers" [queryParams]="{ status: 'BROUILLON' }" class="card card-expansion-panel" [style.backgroundColor]="'orange'" *ngIf="user.role == 'ROLE_COMPANY'" style="cursor: pointer">
                {{ getNumberFromState(offer_states, "BROUILLON") }} Offres Brouillon
            </mat-card>
            <mat-card routerLink="/offers" [queryParams]="{ status: 'INDISPONIBLE' }" class="card card-expansion-panel" [style.backgroundColor]="'salmon'" style="cursor: pointer">
                {{ getNumberFromState(offer_states, "INDISPONIBLE") }} Offres Indisponibles
            </mat-card>
        </mat-expansion-panel>

        <mat-expansion-panel class="card-expansion-panel">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ getTotal(wish_states) }} Voeux envoyés
                </mat-panel-title>
                <mat-panel-description *ngIf="user.role == 'ROLE_ADMIN'">
                    Etats des voeux des étudiants et entreprises
                </mat-panel-description>
                <mat-panel-description *ngIf="user.role != 'ROLE_ADMIN'">
                    Etats de vos voeux 
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-card class="card card-expansion-panel" [style.backgroundColor]="'lightgreen'">
                {{ getNumberFromState(wish_states, "MEETING_ORGANISE") }} Entretiens demandés
            </mat-card>
            <mat-card class="card card-expansion-panel" [style.backgroundColor]="'lightgreen'">
                {{ getNumberFromState(wish_states, "VALIDE") }} Voeux Validés
            </mat-card>
            <mat-card class="card card-expansion-panel" [style.backgroundColor]="'orange'">
                {{ getNumberFromState(wish_states, "TRANSMIS") }} Voeux Transmis
            </mat-card>
            <mat-card class="card card-expansion-panel" [style.backgroundColor]="'salmon'">
                {{ getNumberFromState(wish_states, "REFUSE") }} Voeux Refusés
            </mat-card>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>
