<mat-card class="card card-container">
<h3>Mes Voeux</h3>
    <mat-accordion multi>
    <mat-card *ngFor="let voeu of wishSendList" routerLink = "/wish/{{voeu.id}}"  class="card card-expansion-panel">
        <div style="float:left;"> {{voeu.priority}} </div><div style="float:left; padding-left: 15%;">{{voeu.sender}} <mat-icon style="vertical-align: middle;">trending_flat</mat-icon> {{voeu.receiver}}</div> <div style="float:right"><div><mat-icon *ngIf="voeu.state == 'VALIDE'" style="vertical-align: middle;">add_box</mat-icon> {{voeu.state}}</div></div>
    </mat-card>
    </mat-accordion>
<h3>Voeux reçus</h3> 
    <mat-accordion multi>
        <mat-card *ngFor="let voeu of wishReceivedList" routerLink = "/wish/{{voeu.id}}" class="card card-expansion-panel">
            <div style="float:left;"> {{voeu.priority}} </div><div style="float:left; padding-left: 15%;">{{voeu.sender}} <mat-icon style="vertical-align: middle;">trending_flat</mat-icon> {{voeu.receiver}}</div> <div style="float:right"><div> {{voeu.state}}</div></div>
         </mat-card>
    </mat-accordion>
</mat-card>