<mat-card class="card card-container">
    <h3>Demande d'entretien </h3>
    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit(f)"
      #f="ngForm"
      novalidate
    >
  
      <mat-form-field class="form-group" style="width: 800px;" appearance="outline">
        <mat-label for="message">Message</mat-label> <br>
        <textarea
          matInput
          required
          cols="300"
          rows="10"
          class="form-control"
          name="message"
          [(ngModel)]="form.message"
          #message="ngModel"
          style="resize: 'none'"
        >
        </textarea>
      </mat-form-field>

      <div>
        Définir d'une date d'entretien (Optionnel) :
        <mat-form-field class="form-group" style="margin-left: 15px;">
          <mat-label for="date">Choisissez une date -></mat-label>
          <input
            matInput
            disabled
            [matDatepicker]="picker"
            [min]="minDate" [max]="maxDate"
            class="form-control"
            name="date"
            [(ngModel)]="form.date"
            #date="ngModel">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
      </div>

      <div style="display: inline;">
        <mat-form-field style="width: 250px" class="form-group">
          <mat-label for="employee">De :</mat-label>
          <input
            matInput 
            disabled
            type="text"
            class="form-control"
            name="employee"
            [(ngModel)]="form.employee"
            required
            #employee="ngModel"
          />
        </mat-form-field>
  
        <mat-form-field style="margin-left: 20px; width: 250px" class="form-group">
          <mat-label for="student">Pour :</mat-label>
          <input
            matInput 
            disabled
            type="text"
            class="form-control"
            name="student"
            [(ngModel)]="form.student"
            required
            #student="ngModel"
          />
        </mat-form-field>
      </div>

      <br>
      <span>
        <span class="form-group">
          <button mat-raised-button color="accent" class="btn btn-primary btn-block" (click)= "destinataire = 'STUDENT'">
            Envoyer à l'étudiant
          </button>
        </span>
        <span class="form-group" style="margin-left: 10px">
          <button mat-raised-button class="btn btn-primary btn-block" matTooltip="les administrateurs peuvent organiser l'entretien avec l'étudiant pour vous" (click)= "destinataire = 'ADMIN'">
            Envoyer la demande à un administrateur
          </button>
        </span>
      </span>
    </form>
</mat-card>
