<mat-card class="card card-container">
    <h3>Profil Admin</h3>
    <form
      *ngIf="admin"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
  
      <p>
        <mat-form-field class="form-group">
          <mat-label for="lastname">Nom</mat-label>
          <input
              matInput 
              type="text"
              class="form-control"
              name="lastname"
              [(ngModel)]="admin.lastname"
              required
              #lastname="ngModel"
          />
          <mat-error
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && lastname.invalid"
            >
                Un nom est requis
            </mat-error>
        </mat-form-field>
      </p>
  
      <p>
        <mat-form-field class="form-group">
            <mat-label for="firstname">Prénom</mat-label>
            <input
            matInput 
            type="text"
            class="form-control"
            name="firstname"
            [(ngModel)]="admin.firstname"
            required
            #firstname="ngModel"
            />
            <mat-error
              class="alert alert-danger"
              role="alert"
              *ngIf="f.submitted && firstname.invalid"
              >
                  Un prénom est requis
              </mat-error>
        </mat-form-field>
      </p>
  
      <p>
        <mat-form-field class="form-group">
          <mat-label for="email">Adresse mail</mat-label>
          <input
            matInput 
            disabled
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="admin.mailAddress"
            required
            #email="ngModel"
          />
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
      </p>
  
      <p>
        <mat-form-field class="form-group">
          <mat-label for="phone">Numéro de téléphone</mat-label>
          <input
            matInput 
            type="text"
            class="form-control"
            name="phone"
            [(ngModel)]="admin.phoneNumber"
            maxlength="10"
            #phone="ngModel"
          />
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
      </p>
      
      <div class="form-group">
        <button mat-raised-button class="btn btn-primary btn-block">
          Modifier
        </button>
      </div>
    </form>
  </mat-card>
  