<mat-card class="card card-container">
    <h3 style="display: inline">Offres</h3>
    <button color="accent" matTooltip="Ajouter une offre" style=" margin-left: 20px; margin-right: 5px; margin-bottom:5px;" mat-flat-button *ngIf="user.role == 'ROLE_COMPANY'" routerLink="/add-offer">
        <mat-icon>add</mat-icon><mat-icon>description</mat-icon>
    </button>
    <br><br><br>
    <div *ngIf="role == 'ROLE_STUDENT' ">
        <div matSort (matSortChange)="sortData($event)" matSortDisableClear matSortActive="name" matSortDirection="asc" style="padding-left: 15px; padding-bottom: 10px">
            <div style="width: 15%; display: inline-block;" mat-sort-header="name">Nom de l'entreprise</div>
            <div style="width: 15%; display: inline-block;" mat-sort-header="city">Ville</div>
            <div style="width: 25%; display: inline-block;" mat-sort-header="label">Label de l'offre</div>
        </div>
        <mat-divider></mat-divider> <br>
        <div *ngFor="let offre of allOffers">
            <mat-card routerLink = "/offer/{{offre.id}}"  class="card card-expansion-panel">
                <div style="width: 15%; display: inline-block;"> {{offre.companyName}} </div>
                <div style="width: 15%; display: inline-block;">{{offre.city}}</div>
                <div style="width: 60%; display: inline-block;">{{offre.label}}</div>
                <div style="width: 10%; display: inline-block;">
                    <div style="width: 100%; display: inline-block;" *ngIf="wishAlreadySent(offre.id)">
                        Voeu adressé
                    </div>
                </div>
            </mat-card>
        </div>
        <div *ngIf="allOffers.length == 0" style="text-align: center;">Aucune offre</div>
    </div>
    <div *ngIf="role == 'ROLE_ADMIN' ">
        <div matSort (matSortChange)="sortData($event)" matSortDisableClear matSortActive="name" matSortDirection="asc" style="padding-left: 15px; padding-bottom: 10px">
            <div style="width: 15%; display: inline-block;" mat-sort-header="status">Statut</div>
            <div style="width: 15%; display: inline-block;" mat-sort-header="name">Nom de l'entreprise</div>
            <div style="width: 15%; display: inline-block;" mat-sort-header="city">Ville</div>
            <div style="width: 25%; display: inline-block;" mat-sort-header="label">Label de l'offre</div>
        </div>
        <mat-divider></mat-divider> <br>
        <mat-card *ngFor="let offre of allOffers" (click)="goToOffer(offre.id)"  class="card card-expansion-panel">
            <div style="width: 15%; display: inline-block;">{{ statusToLabel(offre.state) }}</div>
            <div style="width: 15%; display: inline-block;">
                {{offre.companyName}} <mat-icon *ngIf="offre.companyState && offre.companyState == 'INVALIDE'" style="vertical-align: middle;" matTooltip="Cette entreprise est au statut Invalide">warning_amber</mat-icon>
            </div>
            <div style="width: 15%; display: inline-block;">{{offre.city}}</div>
            <div style="width: 43%; display: inline-block;">{{offre.label}}</div>
            <div style="width: 12%; display: inline-block;">
                <div style="width: 50%; display: inline-block;" *ngIf="offre.state == 'EN_VALIDATION'" >
                    <button (click)="validerOffer(offre)" mat-flat-button  style="color: white; height: 25px;background-color:green; line-height: 1rem;"><mat-icon matTooltip="Valider" style="color: white">check_circle_outline</mat-icon></button>
                </div>
                <div style="width: 50%; display: inline-block;" *ngIf="offre.state == 'EN_VALIDATION'">
                    <button (click)="invaliderOffer(offre)" mat-flat-button  style="color: white; height: 25px;background-color:red; line-height: 1rem; "><mat-icon matTooltip="Invalider" style="color: white">remove_circle_outline</mat-icon></button>
                </div>
                <div style="width: 50%; display: inline-block;" *ngIf="offre.state == 'DISPONIBLE'">
                    <button (click)="indisponibleOffer(offre)" mat-flat-button  style="color: white; height: 25px;background-color:red; line-height: 1rem; "><mat-icon matTooltip="Rendre l'offre indisponible" style="color: white">cancel</mat-icon></button>
                </div>
            </div>
        </mat-card>
        <div *ngIf="allOffers.length == 0" style="text-align: center;">Aucune offre</div>
    </div>
    <div *ngIf="role == 'ROLE_COMPANY' ">
        <div matSort (matSortChange)="sortData($event)" matSortDisableClear matSortActive="status" matSortDirection="asc" style="padding-left: 15px; padding-bottom: 10px">
            <div style="width: 15%; display: inline-block;" mat-sort-header="status">Statut</div>
            <div style="width: 15%; display: inline-block;" mat-sort-header="city">Ville</div>
            <div style="width: 25%; display: inline-block;" mat-sort-header="label">Label de l'offre</div>
        </div>
        <mat-divider></mat-divider> <br>
        <mat-card *ngFor="let offre of allOffers" (click)="goToOffer(offre.id)"  class="card card-expansion-panel">
            <div style="width: 15%; display: inline-block;">{{ statusToLabel(offre.state) }}</div>
            <div style="width: 15%; display: inline-block;">{{offre.city}}</div>
            <div style="width: 58%; display: inline-block;">{{offre.label}}</div>
            <div style="width: 12%; display: inline-block;">
                <div style="width: 50%; display: inline-block;" *ngIf="offre.state == 'DISPONIBLE'">
                    <button (click)="indisponibleOffer(offre)" mat-flat-button  style="color: white; height: 25px;background-color:red; line-height: 1rem; "><mat-icon matTooltip="Rendre l'offre indisponible" style="color: white">cancel</mat-icon></button>
                </div>
                <div style="width: 50%; display: inline-block;" *ngIf="offre.state == 'BROUILLON'">
                    <button (click)="publierOffer(offre)" mat-flat-button  style="color: white; height: 25px;background-color:green; line-height: 1rem;"><mat-icon matTooltip="Publier" style="color: white">publish</mat-icon></button>
                </div>
                <div style="width: 50%; display: inline-block;" *ngIf="offre.state !== 'SUPPRIME' && offre.state !== 'EN_VALIDATION' && offre.state !== 'INDISPONIBLE'">
                    <button (click)="supprimerOffer(offre)" mat-flat-button  style="color: white; height: 25px;background-color:red; line-height: 1rem; "><mat-icon matTooltip="Supprimer" style="color: white">delete</mat-icon></button>
                </div>
            </div>
        </mat-card>
        <div *ngIf="allOffers.length == 0" style="text-align: center;">Aucune offre</div>
    </div>
</mat-card>