<mat-card class="card card-container">
    <h3 style="display: inline">Offres {{ statusToLabel(status) }}</h3>
    <button mat-icon-button *ngIf="user.role == 'ROLE_COMPANY'" routerLink="/add-offer">
        <mat-icon style="vertical-align: middle;">add_box</mat-icon>
    </button>
    <br><br><br>
    <div *ngIf="role == 'ROLE_STUDENT' ">
        <div style="padding-left: 15px; padding-bottom: 10px">
            <div style="width: 15%; display: inline-block;">Nom de l'entreprise</div>
            <div style="width: 15%; display: inline-block;">Ville</div>
            <div style="width: 25%; display: inline-block;">Label de l'offre</div>
        </div>
        <mat-divider></mat-divider> <br>
        <div *ngFor="let offre of allOffers">
            <mat-card routerLink = "/offer/{{offre.id}}"  class="card card-expansion-panel">
                <div style="width: 15%; display: inline-block;"> {{offre.companyName}} </div>
                <div style="width: 15%; display: inline-block;">{{offre.city}}</div>
                <div style="width: 70%; display: inline-block;">{{offre.label}}</div>
            </mat-card>
        </div>
        <div *ngIf="allOffers.length == 0" style="text-align: center;">Aucune offre</div>
    </div>
    <div *ngIf="role == 'ROLE_ADMIN' ">
        <div style="padding-left: 15px; padding-bottom: 10px">
            <div style="width: 15%; display: inline-block;">Statut</div>
            <div style="width: 15%; display: inline-block;">Nom de l'entreprise</div>
            <div style="width: 15%; display: inline-block;">Ville</div>
            <div style="width: 25%; display: inline-block;">Label de l'offre</div>
        </div>
        <mat-divider></mat-divider> <br>
        <mat-card *ngFor="let offre of allOffers" (click)="goToOffer(offre.id)"  class="card card-expansion-panel">
            <div style="width: 15%; display: inline-block;">{{ statusToLabel(offre.state) }}</div>
            <div style="width: 15%; display: inline-block;">
                {{offre.companyName}} <mat-icon *ngIf="offre.companyState && offre.companyState == 'INVALIDE'" style="vertical-align: middle;" matTooltip="Cette entreprise est au statut Invalide">warning_amber</mat-icon>
            </div>
            <div style="width: 15%; display: inline-block;">{{offre.city}}</div>
            <div style="width: 40%; display: inline-block;">{{offre.label}}</div>
            <div style="width: 15%; display: inline-block;">
                <div style="width: 50%; display: inline-block;" *ngIf="offre.state == 'EN_VALIDATION'" >
                    <button (click)="validerOffer(offre)" mat-flat-button  style="color: white; height: 25px;background-color:green; line-height: 1rem;">Valider</button>
                </div>
                <div style="width: 50%; display: inline-block;" *ngIf="offre.state == 'EN_VALIDATION'">
                    <button (click)="invaliderOffer(offre)" mat-flat-button  style="color: white; height: 25px;background-color:red; line-height: 1rem; ">Invalider</button>
                </div>
                <div style="width: 50%; display: inline-block;" *ngIf="offre.state == 'DISPONIBLE'">
                    <button (click)="indisponibleOffer(offre)" mat-flat-button  style="color: white; height: 25px;background-color:rebeccapurple; line-height: 1rem; ">Indisponible</button>
                </div>
            </div>
        </mat-card>
        <div *ngIf="allOffers.length == 0" style="text-align: center;">Aucune offre</div>
    </div>
    <div *ngIf="role == 'ROLE_COMPANY' ">
        <div style="padding-left: 15px; padding-bottom: 10px">
            <div style="width: 15%; display: inline-block;">Statut</div>
            <div style="width: 15%; display: inline-block;">Ville</div>
            <div style="width: 25%; display: inline-block;">Label de l'offre</div>
        </div>
        <mat-divider></mat-divider> <br>
        <mat-card *ngFor="let offre of allOffers" (click)="goToOffer(offre.id)"  class="card card-expansion-panel">
            <div style="width: 15%; display: inline-block;">{{ statusToLabel(offre.state) }}</div>
            <div style="width: 15%; display: inline-block;">{{offre.city}}</div>
            <div style="width: 51%; display: inline-block;">{{offre.label}}</div>
            <div style="width: 19%; display: inline-block;">
                <div style="width: 50%; display: inline-block;" *ngIf="offre.state == 'DISPONIBLE'">
                    <button (click)="indisponibleOffer(offre)" mat-flat-button  style="color: white; height: 25px;background-color:rebeccapurple; line-height: 1rem; ">Indisponible</button>
                </div>
                <div style="width: 50%; display: inline-block;" *ngIf="offre.state == 'BROUILLON'">
                    <button (click)="publierOffer(offre)" mat-flat-button  style="color: white; height: 25px;background-color:green; line-height: 1rem;">Publier</button>
                </div>
                <div style="width: 50%; display: inline-block;" *ngIf="offre.state !== 'SUPPRIME' && offre.state !== 'EN_VALIDATION' && offre.state !== 'INDISPONIBLE'">
                    <button (click)="supprimerOffer(offre)" mat-flat-button  style="color: white; height: 25px;background-color:red; line-height: 1rem; "> <mat-icon style="vertical-align: middle;">clear</mat-icon></button>
                </div>
            </div>
        </mat-card>
        <div *ngIf="allOffers.length == 0" style="text-align: center;">Aucune offre</div>
    </div>
</mat-card>