<mat-card class="card card-container">
  <h3>Connexion</h3>
  <form
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
    <p>
      <mat-form-field class="form-group">
        <mat-label for="email">Adresse Mail</mat-label>
        <input matInput 
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.email"
          required
          #email="ngModel"
        />
        <mat-icon matSuffix>person</mat-icon>
        <mat-error *ngIf="f.submitted && email.invalid"> L'adresse mail est invalide </mat-error>
      </mat-form-field>
    </p>

    

    <p>
      <mat-form-field class="form-group">
        <mat-label for="password">Mot de passe</mat-label>
        <input matInput
          [type]="hide ? 'password' : 'text'"
          class="form-control"
          name="password"
          [(ngModel)]="form.password"
          required
          minlength="6"
          #password="ngModel"
        />
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error
          class="alert alert-danger"
          role="alert"
          *ngIf="f.submitted && password.invalid"
        >
          <mat-label *ngIf="password.errors.required">Un mot de passe est requis</mat-label>
          <mat-label *ngIf="password.errors.minlength">Le mot de passe doit avoir au moins 6 caractères</mat-label>
        </mat-error>
      </mat-form-field>
    </p>

    <div class="form-group">
      <button mat-raised-button class="btn btn-primary btn-block">
        Connexion
      </button>
    </div>
  </form>
</mat-card>