<mat-card *ngIf="company != null" class="card card-container">
    <h3 style="display: inline">Profil Entreprise</h3>
    <button mat-raised-button color="primary" class="btn btn-primary btn-block" style="margin-left: 20px; margin-bottom: 20px;" [routerLink]="['/company/', company.id]">Aperçu du profil</button>
    <form
      *ngIf="company != null"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Modifier les données Entreprise
          </mat-panel-title>
        </mat-expansion-panel-header>
      <p>
        <mat-form-field class="form-group">
          <mat-label for="name">Nom</mat-label>
          <input
              matInput 
              disabled
              type="text"
              class="form-control"
              name="name"
              [(ngModel)]="company.name"
              required
              #name="ngModel"
          />
        </mat-form-field>
      </p>

      <div class="state-class">
        Etat : {{ getLabelFromState() }}
      </div>
  
      <p>
        <mat-form-field class="form-group">
          <mat-label for="email">Adresse mail</mat-label>
          <input
            matInput 
            disabled
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="company.mailAddress"
            required
            #email="ngModel"
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          />
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
      </p>
  
      <p>
        <mat-form-field class="form-group">
          <mat-label for="websiteUrl">Site internet</mat-label>
          <input
            matInput 
            type="text"
            class="form-control"
            name="websiteUrl"
            [(ngModel)]="company.websiteUrl"
            maxlength="40"
            #websiteUrl="ngModel"
          />
          <mat-icon matSuffix>language</mat-icon>
        </mat-form-field>
      </p>

      <p>
        <mat-label for="description">Description</mat-label> <br>
        <textarea id="clipboard-example-textarea"
          cols="103"
          rows="5"
          class="form-control"
          name="description"
          [(ngModel)]="company.description"
          #description="ngModel"
          maxlength="500"
          style="resize: 'none'"
        >
        </textarea>
        <br><div *ngIf="description.value">{{description.value.length}} / 500</div><br>
      </p>
      
      <div class="form-group">
        <button mat-raised-button class="btn btn-primary btn-block">
          Modifier
        </button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Liste des salariés enregistrés
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let employee of company.employees">
        <mat-card class="employee">
          <div style="float:left;">{{ employee.firstname }} {{ employee.lastname }}</div>
          <div style="float:right;"> {{ employee.mailAddress }} {{ employee.phoneNumber }} </div>
      </mat-card>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
    </form>
  </mat-card>
  