<mat-card class="card card-container">
    <h3>Profil Employé</h3>
    <form
      *ngIf="employee"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
  
      <p>
        <mat-form-field class="form-group">
          <mat-label for="lastname">Nom</mat-label>
          <input
              matInput 
              disabled
              type="text"
              class="form-control"
              name="lastname"
              [(ngModel)]="employee.lastname"
              required
              #lastname="ngModel"
          />
        </mat-form-field>
      </p>
  
      <p>
        <mat-form-field class="form-group">
            <mat-label for="firstname">Prénom</mat-label>
            <input
            matInput 
            disabled
            type="text"
            class="form-control"
            name="firstname"
            [(ngModel)]="employee.firstname"
            required
            #firstname="ngModel"
            />
        </mat-form-field>
      </p>
  
      <p>
        <mat-form-field class="form-group">
          <mat-label for="email">Adresse mail</mat-label>
          <input
            matInput 
            disabled
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="employee.mailAddress"
            required
            #email="ngModel"
          />
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
      </p>
  
      <p>
        <mat-form-field class="form-group">
          <mat-label for="phone">Numéro de téléphone</mat-label>
          <input
            matInput 
            type="text"
            class="form-control"
            name="phone"
            [(ngModel)]="employee.phoneNumber"
            maxlength="10"
            #phone="ngModel"
          />
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
      </p>
      
      <div class="form-group">
        <button mat-raised-button class="btn btn-primary btn-block">
          Modifier
        </button>
      </div>
    </form>
  </mat-card>
  