<mat-card *ngIf="company != null" class="card card-container">
    <div class="wrapper">
        <div class="image">
            Image
        </div>
        <div class="resume">
            <span>
                <h2 style="display: inline">{{ company.name }}</h2> <h3 *ngIf="role == 'ROLE_ADMIN'" style="display: inline"> - {{ company.state }}</h3>
                <button mat-raised-button *ngIf="role == 'ROLE_ADMIN' && (company.state == 'ENREGISTRE' || company.state == 'INVALIDE')" (click)="validerCompany()" style="margin-left: 20px; height: 25px;background-color:green; line-height: 1rem; " class="btn btn-primary btn-block">Valider</button>
                <button mat-raised-button *ngIf="role == 'ROLE_ADMIN' && (company.state == 'ENREGISTRE' || company.state == 'VALIDE')" (click)="invaliderCompany()" style="margin-left: 20px; height: 25px;background-color:red; line-height: 1rem; " class="btn btn-primary btn-block">Invalider</button>
            </span>
            <p>{{ company.description }}</p>
            <mat-icon style="vertical-align: middle; margin: 5px;">mail_outline</mat-icon> {{ company.mailAddress }} <br>
            <mat-icon *ngIf="company.websiteUrl" style="vertical-align: middle; margin: 5px;">language</mat-icon> <a href="{{ company.websiteUrl }}">{{ company.websiteUrl }}</a>
        </div>
        <div class="items">
            <div class="offers">
                <h4>Offres</h4>
                <div *ngIf="offers.length == 0">Aucune offre</div>
                <div *ngIf="offers.length != 0" matSort (matSortChange)="sortData($event)" matSortDisableClear matSortActive="city" matSortDirection="asc" style="padding-left: 15px; padding-bottom: 10px">
                    <div style="width: 15%; display: inline-block;" *ngIf="role == 'ROLE_ADMIN'" mat-sort-header="status">Statut</div>
                    <div style="width: 15%; display: inline-block;" mat-sort-header="city">Ville</div>
                    <div style="width: 40%; display: inline-block;" mat-sort-header="label">Label de l'offre</div>
                </div>
                <mat-divider *ngIf="offers.length != 0"></mat-divider> <br>
                <div *ngFor="let offer of offers">
                    <mat-card *ngIf="(role == 'ROLE_ADMIN' && offer.state != 'BROUILLON') || (role != 'ROLE_ADMIN' && offer.state == 'DISPONIBLE')" (click)="goToOffer(offre.id)" class="item" style="cursor: pointer">
                        <div style="width: 15%; display: inline-block;" *ngIf="role == 'ROLE_ADMIN'">{{ statusToLabel(offer.state) }}</div>
                        <div style="width: 15%; display: inline-block;">{{offer.city}}</div>
                        <div style="width: 50%; display: inline-block;">{{offer.label}}</div>
                        <div style="width: 20%; display: inline-block;">
                            <div style="width: 50%; display: inline-block;" *ngIf="role == 'ROLE_ADMIN' && offer.state == 'EN_VALIDATION'" >
                                <button (click)="validerOffer(offer)" mat-flat-button  style="color: white; height: 25px;background-color:green; line-height: 1rem;">Valider</button>
                            </div>
                            <div style="width: 50%; display: inline-block;" *ngIf="role == 'ROLE_ADMIN' && offer.state == 'EN_VALIDATION'">
                                <button (click)="invaliderOffer(offer)" mat-flat-button  style="color: white; height: 25px;background-color:red; line-height: 1rem; ">Invalider</button>
                            </div>
                            <div style="width: 50%; display: inline-block;" *ngIf="role == 'ROLE_ADMIN' && offer.state == 'DISPONIBLE'">
                                <button (click)="indisponibleOffer(offer)" mat-flat-button  style="color: white; height: 25px;background-color:rebeccapurple; line-height: 1rem; ">Indisponible</button>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </div>
            <br>
            <div *ngIf="role == 'ROLE_ADMIN'" class="sendedWishes">
                <h4>Voeux envoyés</h4>
                <div *ngIf="company.wishSendList.length == 0">Aucun voeu envoyé</div>
                <mat-card *ngFor="let wish of company.wishSendList" class="item">
                    <div style="width: 20%; display: inline-block;">{{ statusToLabel(wish.state) }}</div>
                    <div style="width: 20%; display: inline-block; text-align: right;">{{wish.sender}}</div>
                    <div style="width: 5%; display: inline-block; text-align: center;"><mat-icon style="vertical-align: middle;">trending_flat</mat-icon></div>
                    <div style="width: 45%; display: inline-block;">{{wish.receiver}}</div>
                </mat-card>
            </div>
            <br><br>
            <div *ngIf="role == 'ROLE_ADMIN'" class="receivedWishes">
                <h4>Voeux reçus</h4>
                <div *ngIf="offers.length == 0">Aucun voeu reçu</div>
                <div *ngFor="let offer of offers">
                    <mat-card *ngFor="let wish of offer.wishReceivedList" class="item">
                        <div style="width: 20%; display: inline-block;">{{ statusToLabel(wish.state) }}</div>
                        <div style="width: 20%; display: inline-block; text-align: right;">{{wish.sender}}</div>
                        <div style="width: 5%; display: inline-block; text-align: center;"><mat-icon style="vertical-align: middle;">trending_flat</mat-icon> </div>
                        <div style="width: 40%; display: inline-block;">{{wish.receiver}}</div>
                    </mat-card >
                </div>
            </div>
            <br><br>
            <div *ngIf="role == 'ROLE_ADMIN'" class="employees">
                <h4>Salariés enregistrés</h4>
                <div *ngIf="company.employees.length == 0">Aucun salarié enregistré</div>
                <div *ngFor="let employee of company.employees">
                    <mat-card class="item">
                      <div style="width: 33%; display: inline-block;">{{ employee.firstname }} {{ employee.lastname }}</div>
                      <div style="width: 33%; display: inline-block;"> {{ employee.mailAddress }} </div>
                      <div style="width: 33%; display: inline-block;"> {{ employee.phoneNumber }} </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</mat-card>
